.field {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid #000;
    margin-top: 70px;
    
}

.field_block {
    width: 25%;
    height: 25%;
    border: 1px solid #000;
    box-sizing: border-box;
    
}

.char {
    background-image: url('../img/goblin.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;;
}